#body-content {
    font-family: 'Noto Serif' serif;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    margin: 20px, 0;
}

header {
    background: url(./images/fusion_banner.JPEG);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}
@media screen and (max-width: 744px){
    header{
        min-height: 500px;
    }
}

nav {
    height: 90px;
}

body{
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}



/* label color */
.input-field label {
    color: white;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: white;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: white;
  }